[Unit]
Description=Nextcloud Client
Requires=network.target local-fs.target
After=network.target local-fs.target

[Service]
User={{ ansible_user_id }}
Type=simple
ExecStart=/usr/local/bin/launch-nextcloud-client.sh start
ExecStop=/usr/local/bin/launch-nextcloud-client.sh stop
WorkingDirectory=/home/l3d
Restart=on-failure

[Install]
WantedBy=default.target
